.manga-board{
    display: flex;
    flex-direction: row;

  

    .card{
        display: flex;
        flex-direction: row;
        
        
        .responsive-image{

           
            position: relative;
            overflow: hidden;
            display: flex;

            .resizer{
               
                transition: padding-bottom .2s cubic-bezier(.25,.8,.5,1);
                flex-grow: 1;
                
            }
                    
            .image{
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .content{
                max-width: 100%;
                

            }
        }
       
       
    }

    .content-container{
  
        .toogler{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            
        }
        .info{
            .title{
                font-size: 20px;
                
            }
        }
        .list{
            display: flex;
            flex-direction: column;
            background-color: rgb(64, 53, 77);
            .chapter{
                display: flex;
                flex-direction: row;
                
            }
        }
    }
    
    
}
