.login-page{
    background-color: aquamarine;
    width: 100vw;
    height: 100vw;
    
}

.login-page .card{
    background-color: rgb(41, 39, 39);
    width: 500px;
    height: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

}


.login-page .card form{
    color: white;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.login-page .card form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.login-page .card form .field span{
    color: red;
    font-size: 10px;

}

.login-page .card form .field input{
    border-radius: 10%;

}

.login-page .card form input{
    border-radius: 10%;
   
    
}

.help {
    color: white;
    display: flex;
    flex-direction: column;
}



