.home-container {
    h1{
        width: 60vw;
        height: 500px;   
        word-wrap: break-word; 
    }
    .last-updated{
        display: flex;
        flex-direction: column;
        max-height: 800px;
        margin: 0px 0px 0px 0px;
        padding: 20px 1% 0px 5%;
        
        h2{
            font-size: 30px;
            font-weight: lighter;
        }
    }
}

