.reader{
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


    .header-board{
       
        display: flex;
        flex-direction: row;
        padding: 0px 20px 0px 20px;
        .left{
           .button{
               display: table;
               border-radius: 15%;
               width: 50px;
               height: 30px;
                           
               &:hover{
                   background-color: rgb(212, 201, 224);
               }

               span{
                   display: table-cell;
                   vertical-align: middle;
               }
           }
        }

        .center{          
            display: flex;
            flex-direction: column;
            
            margin: 0px 17% 0px 20%;

            .title{
                text-align: center;
            }
            .controllers{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
            }
        }
        .right{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
    
    
            .controllers{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
            }
        }
        
    }
    

    .board{
        padding: 0 22% 0px 22%;
        

        min-height: 300px;
        max-width: 100vw;
        width: auto;
        height: 100%;

        img{            
            height: 60%;
            width: 60%;

            min-width: 320px;
            min-height: 200px;
            cursor: pointer;
        }
    }
    .footer-reader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0px 40px 0px 40px;

        .comments{

        }

        .rate{
            display: flex;
            flex-direction: row-reverse;

            input{
                visibility: hidden;
                width: 0;
               
            }

            > input:checked ~ label{
                color: #ffc700;
            }
            label{
                cursor: pointer;
                color: #c2bdc1;  
               
                &:hover{
                    color: #c59b08;
                }
               
            }
        }
    }

    

}

